<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Infor book</title>
</head>
<body>
<h1>Information book</h1>
<p>
    <a href="/books">Book list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/borrow}" th:object="${book}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${book.name}"></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td th:text="${book.quantity}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Borrow book"></td>
        </tr>
    </table>
</form>
<form th:action="@{/pay}">
    <input type="text">
    <input type="submit" value="Pay book">
</form>
</body>
</html>